# Direktori Build (Dihasilkan oleh CMake / idf.py build)
build/

# Konfigurasi ESP-IDF yang sudah lama
sdkconfig.old

# File Binary & Map yang terpencar (jika ada)
*.elf
*.map
*.bin

# File OS (Mac/Windows)
.DS_Store
Thumbs.db
desktop.ini

# File Python Cache / Virtual Environment
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Direktori & File Konfigurasi IDE (VS Code, CLion, Eclipse)
.vscode/c_cpp_properties.json
.vscode/launch.json
# (Catatan: tasks.json mungkin berguna untuk di-commit, hapus dari baris komentar jika butuh di-ignore)
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# File Log ESP-IDF Monitoring
idf_monitor_*.txt
